@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css";
.product-header {
   display: flex;
   align-items: center;
   padding: 0 12px;
   margin-top: 20px;
   border-bottom: 1px solid #ccc;
   p {
      font-size: 2.3rem;
      font-weight: 500;
   }
}
.header-box {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
   margin-left: 10px;
   font-size: 2rem;
}
.product-footer {
   h1 {
      text-align: center;
   }
}
.main-contain {
   margin-top: 20px;
}
.product-price {
   .cur-price {
      font-size: 2.5rem;
      font-weight: 500;
      color: #ee4d2d;
   }
   .vat-tag {
      margin-left: 6px;
      font-size: 1.4rem;
      color: #333;
      // margin-left: 10px;
   }
   .old-price {
      margin-left: 10px;
      font-size: 1.6rem;
      color: #333;
      text-decoration: line-through;
   }
}
.product-options {
   margin-top: 10px;
   overflow: auto;

   .option-group {
      display: flex;
      // overflow: auto;
      gap: 10px;
      padding: 4px 0;
      .option {
         width: 100px;
         border: 2px solid #999;
         border-radius: 4px;
         padding: 2px 4px;
         flex-shrink: 0;

         p {
            font-size: 1.5rem;
            font-weight: 500;
         }
         span {
            font-size: 1.4rem;
            color: #ee4d2d;
         }
      }
      .option.active {
         border-color: #ee4d2d;
      }
   }
}
.product-cta {
   margin-top: 15px;
   .buy-now {
      border: none;
      padding: 10px 0;
      background-color: #ee4d2d;
      border-radius: 4px;
      color: #fff;
      font-size: 1.8rem;
      cursor: pointer;
      &:hover {
         background-color: #d2462a;
      }
   }
}
.product-policy {
   margin-top: 20px;
   border-radius: 4px;
   border: 1px solid #999;
   padding: 10px;
   .icon-doimoi {
      background-position: 0 -35px;
   }
   .icon-baohanh {
      background-position: -105px -35px;
   }
   .icon-box {
      background-position: -70px -35px;
   }
   .policy-title {
      text-align: center;
      margin-bottom: 5px;
   }
   ul li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      list-style: none;
      .icon-frame {
         flex-shrink: 0;
         width: 40px;
         height: 100%;
      }
      .policy-icon {
         // position: absolute;
         // top: 20px;
         // left: 0;
         background-image: url("../../assets/images/icon.png");
         background-size: 300px 180px;
         width: 32px;
         height: 32px;
      }

      span {
         font-size: 1.4rem;
         padding-left: 5px;
         // line-height: 2rem;
      }
   }
}
.product-params {
   border: 1px solid #999;
   padding: 10px;
   border-radius: 5px;
   h1 {
      text-align: center;
   }
   margin-top: 20px;
   .params-table {
      margin-top: 10px;
      width: 100%;
      tr:nth-child(even) {
         background-color: #f2f2f2;
      }
      td {
         padding: 10px 7px;
         font-size: 1.4rem;
         color: #000;
      }
   }
}
.detail-image {
   margin-top: 20px;
   img {
      width: 100%;
   }
}
.product-detail {
   width: 75%;
   margin: 20px auto 0;

   .content {
      .content-title {
         text-align: center;
         font-size: 2.8rem;
         font-weight: 500;
      }
      .content-text {
         margin-top: 20px;
         font-size: 2.2rem;
         text-align: justify;
      }
      .content-image {
         margin-top: 20px;
         position: relative;
         &::after {
            content: "";
            position: absolute;
            height: 70px;
            // width: 100%;
            background: linear-gradient(to bottom, rgba(255 255 255/0), rgba(255 255 255/62.5), rgba(255 255 255/1));
            bottom: 0;
            left: 0;
            right: 0;
         }
      }
      .more-detail {
         width: 35%;
         font-size: 1.6rem;
         font-weight: 500;
         padding: 10px 0;
         text-align: center;
         margin: 0 auto;
         border: 1px solid #ee4d2d;
         border-radius: 5px;
         cursor: pointer;
      }
   }
}
.product-suggest {
   margin-top: 20px;
   margin-bottom: 50px;
   // border: 1px solid #999;
   border-radius: 15px;
   padding: 10px;
   .suggest-title {
      font-size: 2.2rem;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
   }
}
.product-rate {
   padding: 35px 0;
   margin-top: 20px;
   // border: 1px solid#999;
   border-radius: 15px;
   h1 {
      font-size: 2.8rem;
      text-align: center;
      margin-bottom: 10px;
   }
   .rate-container {
      display: flex;
      flex-direction: column;
      width: 75%;
      margin: 0 auto;
      // gap: 40px;
      .rate-body {
         position: relative;
         color: #333;
         margin-top: 10px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         background-color: #f1f1f1;
         border-radius: 8px;
         padding: 15px 25px;
         .rate-left {
            .rate-top {
               margin-bottom: 10px;
            }
            li {
               display: flex;
               justify-content: space-between;
               align-items: center;
               margin-bottom: 10px;
               font-size: 1.7rem;
               .number-star {
                  .number {
                     display: inline-block;
                     width: 16px;
                     font-weight: 500;
                  }
               }
               .holderbar-star {
                  position: relative;
                  height: 6px;
                  border-radius: 10px;
                  width: 70%;
                  background-color: #ccc;
                  margin-right: 5px;
                  overflow: hidden;
               }
               .cur-bar {
                  position: absolute;
                  height: 100%;
                  width: 50%;
                  background-color: rgb(255, 208, 0);
               }
            }
         }
         .rate-images {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            width: 100%;
            height: 100%;
            padding: 15px 0;
            .rate-image-frame {
               width: 123px;
               height: 123px;
               img {
                  object-fit: cover;
                  object-position: center;
                  border-radius: 8px;
                  width: 100%;
                  height: 100%;
               }
            }
         }
         &::before {
            content: "";
            position: absolute;
            width: 1px;
            // height: 100%;
            top: 20px;
            bottom: 20px;
            left: 46%;
            background-color: #ccc;
            z-index: 5;
         }
      }
   }
}
.rate-top .point {
   font-size: 3.5rem;
   font-weight: 500;
   color: rgb(252, 141, 4);
}
// customer comment
.customer-comments {
   margin-top: 25px;
   padding: 15px;
   // border: 1px solid #999;
   background-color: #f1f1f1;
   border-radius: 8px;
   width: 100%;
   li {
      display: flex;
      flex-direction: column;
      gap: 7px;
      padding: 5px 0;
      border-top: 1px solid #ccc;
      margin-bottom: 20px;
      &:first-child {
         border: none;
      }
      .comment-top {
         .customer-name {
            font-size: 1.8rem;
            font-weight: 500;
         }
         .customer-buy {
            margin-left: 15px;
            font-size: 1.4rem;
            color: rgb(70, 165, 70);
         }
      }
      .comment-body {
         padding-left: 10px;
         .customer-rate-star {
            font-size: 1.4rem;
         }
         .customer-rate-content {
            margin-top: 5px;
            font-size: 1.7rem;
         }
      }
   }
   .comment-cta {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      padding: 10px 20px;
      button {
         width: 45%;
         padding: 10px 0;
         font-size: 1.6rem;
         border-radius: 4px;
         cursor: pointer;
      }
      .write-comment {
         border: none;
         background-color: rgb(252, 141, 4);
         color: #fff;
      }
      .see-more-comment {
         background-color: #fff;
         border: 2px solid rgb(252, 141, 4);
      }
   }
}
