:root {
   --header-nav-color: #cd1818;
}

.header-top {
   height: 50px;
   background-color: #333;
}
.header-top-wrap,
.header-nav-wrap {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.brand {
   font-size: 2.5rem;
   color: #f1f1f1;
}
.user-cta {
   // height: 50px;
   display: flex;
   align-items: center;
}
.image-frame {
   // padding-top: 5px;
   // display: inline-block;
   margin-left: 5px;
   width: 40px;
   height: 40px;
}
.user-name {
   color: #fff;
   font-size: 1.6rem;
   font-weight: 500;
}
.user-image {
   width: 100%;
   border-radius: 50%;
   object-fit: contain;
   object-position: center;
}
.header-nav {
   height: 30px;
   // background: linear-gradient(to right, rgba(0, 0, 0, 0.8), #cd1818, rgba(0, 0, 0, 0.8));
   background: linear-gradient(to right, #6c0a0a, #cd1818, #6c0a0a);
}

.search-wrap {
   width: 500px;
   height: 35px;
   position: relative;
}
.search-form {
   height: 100%;
}
.search-input {
   height: 100%;
   width: 100%;
   outline: none;
   padding-left: 20px;
   padding-right: 70px;
   font-size: 1.5rem;
   border-radius: 20px;
   border: none;
   
}
.search-btn {
   position: absolute;
   right: 0;
   height: 100%;
   width: 50px;
   color: #999;
   font-size: 2rem;
   padding-top: 1px;
   background-color: transparent;
}
.search-input:not(:placeholder-shown) ~ .search-btn {
   color: #333;
}
.search-btn:hover {
   // color: var(--header-nav-color);
   color: #333;
}

.nav-list {
   display: flex;
   gap: 20px;
}
.nav-item {
   color: #fff;
   font-size: 1.6rem;
   line-height: 30px;
}
.nav-item a {
   font-weight: 500;
}
.nav-item span {
   margin-right: 5px;
}
.nav-item:hover {
   color: #666;
}
