.product-item {
   display: flex;
   position: relative;
   flex-direction: column;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
   text-decoration: none;
   border: 1px solid transparent;
   margin-top: 15px;
}

.product-item:hover {
   border-color: #ee4d2d;
}
.product-item_img {
   /* flex: 1; */
   padding-top: 100%;
   background-size: contain;
}
.product-item-body {
   padding: 7px;
   /* flex: 1; */
}
.product-item_name {
   font-size: 1.4rem;
   font-weight: 400;
   color: #333;
   height: 3.6rem;
   line-height: 1.8rem;
}
.product-item_tag {
   display: block;
   margin-top: 10px;
}
.product-item_tag-special {
   padding: 0.5px 2px;
   margin-top: 5px;
   border: 1px solid red;
   color: red;
   user-select: none;
}

.product-item_price {
   display: flex;
   margin-top: 10px;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   height: 3.4rem;
}
.product-item_price--old {
   font-size: 1.4rem;
   line-height: 1.4rem;
   color: rgba(0, 0, 0, 0.54);
   text-decoration: line-through;
}
.product-item_price--current {
   font-size: 1.6rem;
   line-height: 1.6rem;
   color: #ee4d2d;
}
.pagination {
   /* height: 30px; */
   margin-top: 30px;
   text-align: center;
}
.pagination-list {
   /* height: 100%; */
   text-align: center;
}
.pagination-item {
   /* height: 100%; */
   display: inline-block;
   list-style: none;
   /* text-align: center; */
}
.pagination-item_link {
   /* height: 100%; */
   padding: 10px 15px;
   border-radius: 3px;
   font-size: 2rem;
   text-decoration: none;
   color: #333;
   margin: 0 10px;
}
